@model IEnumerable<Firma.Data.Data.Sklep.Produkt>

@{
    ViewData["Title"] = "Produkty";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3">Lista produktów</h1>
        <a asp-action="Create" class="btn btn-primary">Dodaj nowy produkt</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-color">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nazwa)</th>
                    <th>@Html.DisplayNameFor(model => model.Opis)</th>
                    <th>@Html.DisplayNameFor(model => model.Cena)</th>
                    <th>@Html.DisplayNameFor(model => model.AdresURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Dostepnosc)</th>
                    <th>@Html.DisplayNameFor(model => model.Kategoria)</th>
                    <th class="text-center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="p-2">@Html.DisplayFor(modelItem => item.Nazwa)</td>
                        <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                        <td>@item.Cena.ToString("C")</td>
                        <td>@item.AdresURL</td>
                        <td class="text-center">
                            @if (item.Dostepnosc)
                            {
                                <span class="badge bg-success">Dostępny</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Niedostępny</span>
                            }
                        </td>
                        <td>@item.Kategoria?.Nazwa</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.IdProduktu" class="btn btn-sm">Edytuj</a>
                                <a asp-action="Delete" asp-route-id="@item.IdProduktu" class="btn btn-sm">Usuń</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
