@model IEnumerable<Firma.Data.Data.CMS.Strona>

@{
    ViewData["Title"] = "Lista stron";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">    
        <p class="h-3">Lista stron</p>
        <a asp-action="Create" class="btn btn-success">Dodaj nową stronę</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-color">
            <tr>
                <th>@Html.DisplayNameFor(model => model.LinkTytul)</th>
                <th>@Html.DisplayNameFor(model => model.Tytul)</th>
                <th>@Html.DisplayNameFor(model => model.Tresc)</th>
                <th>@Html.DisplayNameFor(model => model.Pozycja)</th>
                <th class="text-center">Akcje</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.LinkTytul)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tytul)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tresc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pozycja)</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.IdStrony" class="btn btn-sm btn-primary me-1">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.IdStrony" class="btn btn-sm btn-danger">Usuń</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
