@model IEnumerable<Firma.Data.Data.Sklep.Produkt>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SklepLayout.cshtml";
}

<div class="container m-5">
    <div class="row mb-2">
        <div class="col-12 text-center mb-2">
            <p class=" section-title mb-5 h1">Nasze produkty</p>
        </div>
        <div class="col-12">
            @* <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown"> *@
            @*     Sortuj według *@
            @* </button> *@
            @* <ul class="dropdown-menu"> *@
            @*     <li><a class="dropdown-item" href="#">Najpopularniejsze</a></li> *@
            @*     <li><a class="dropdown-item" href="#">Najnowsze</a></li> *@
            @*     <li><a class="dropdown-item" href="#">Cena: od najniższej</a></li> *@
            @*     <li><a class="dropdown-item" href="#">Cena: od najwyższej</a></li> *@
            @* </ul> *@
        </div>
    </div>
    <div class="row g-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-12 my-3 ">
                <div class="card product-card h-100 border border-1 text-center">
                    <img src="@(string.IsNullOrEmpty(item.AdresURL) ? "https://x13.pl/img/cms/blog/zmiana-zdjecia/nowe_zdjecie.jpg" : item.AdresURL)"
                         class="card-img-top product-img"
                         alt=@item.Nazwa
                         onerror="this.onerror=null; this.src='https://x13.pl/img/cms/blog/zmiana-zdjecia/nowe_zdjecie.jpg';">
                    <div class="card-body my-4">
                        <p class="card-title mb-3 h4">@item.Nazwa</p>
                        <p class="card-text">@item.Opis</p>
                        <p class="mt-5 h4">od @item.Cena.ToString("#,##0.00") zł</p>
                    </div>
                    <div class="card-footer bg-white border-0 mb-3">
                        <a class="btn btn-primary w-75" asp-route-id="@item.IdProduktu" asp-action="Szczegoly">Wybierz opcje</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

