@model IEnumerable<Firma.Data.Data.Sklep.Skladnik>

@{
    ViewData["Title"] = "Skladniki";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="h3">Lista składników</p>
        <a asp-action="Create" class="btn btn-primary">Dodaj nowy składnik</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-color">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nazwa)</th>
                    <th>@Html.DisplayNameFor(model => model.Jednostka)</th>
                    <th>@Html.DisplayNameFor(model => model.Opis)</th>
                    <th>@Html.DisplayNameFor(model => model.AdresURL)</th>
                    <th class="text-center">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="p-2">@Html.DisplayFor(modelItem => item.Nazwa)</td>
                        <td>@Html.DisplayFor(modelItem => item.Jednostka)</td>
                        <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                        <td>@Html.DisplayFor(modelItem => item.AdresURL)</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.IdSkladnika" class="btn btn-sm">Edytuj</a>
                                <a asp-action="Delete" asp-route-id="@item.IdSkladnika" class="btn btn-sm">Usuń</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
